body {
    margin: 0;
    color: var(--lightMainText);
}

body.board {
    padding-left: 5vw;
    padding-right: 5vw;
}

body.viewServer {
    margin-top: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

body.reserveWebAppSpace header {
    padding-right: 60px;
}

body.reserveWebAppSpace .headerRight {
    margin-right: 60px;
}

nav {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 60px;
    height: calc(100vh - 10px);
    padding: 5px;
    background-color: var(--secondaryBackgroundColour);
    overflow: auto;
}

nav a, nav a img {
    width: 50px;
    height: 50px;
    border-radius: 35px;
    object-fit: cover;
}

nav a {
    display: inline-block;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    border: 5px solid transparent;
    transition: 0.5s;
    cursor: pointer;
}

nav a:hover {
    filter: brightness(1.3);
}

nav a.selected {
    border: 5px solid var(--highlightColour);
}

iframe.mainView {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 70px;
    width: calc(100vw - 70px);
    height: 100vh;
    border: none;
    z-index: -1;
}

header {
    height: 50px;
}

header.transparent {
    background-color: transparent;
}

input.search {
    width: 50vw;
}

label.property {
    display: block;
    margin-bottom: 10px;
}

label.property input:not([type="checkbox"]):not([type="radio"]) {
    width: calc(60vw - 160px);
}

label.property select {
    width: calc(60vw - 160px + 20px);
    margin-left: 5px!important;
}

label.property textarea {
    width: calc(60vw - 160px);
    vertical-align: top;
}

label.property .propertyInfo {
    width: calc(60vw - 140px);
    margin-left: 160px;
}

.propertyWidth {
    width: calc(60vw + 25px);
}

.restrictWidth {
    width: calc(100% - 60px);
    margin-top: 30px;
}

.chatGetStarted {
    position: relative;
    display: none;
}

.chatGetStarted p {
    margin-top: 30px;
    margin-bottom: 20px;
}

.chatGetStarted h3 {
    position: absolute;
    display: inline-block;
    top: 10px;
    width: calc(100% - 50px);
    margin-top: 0;
}

.chatGetStartedDismiss {
    position: absolute;
    top: 2px;
    right: 0;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: transparent;
    color: var(--lightMainText);
}

.chatGetStartedDismiss i {
    font-size: 24px!important;
}

.chatGetStartedStep {
    display: inline-block;
    width: calc(33.3% - 3.33px);
    text-align: center;
    vertical-align: top;
}

.chatGetStartedStep i {
    display: block;
    width: 70px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    border-radius: 35px;
    background-color: var(--secondaryColour);
    color: var(--lightAccentText);
    font-size: 30px;
}

.chatGetStartedStep span {
    display: block;
    margin-top: 10px;
}

.chatGetStartedStep.done i {
    background-color: var(--highlightColour);
    color: black;
}

.chatGetStartedStep.done span {
    text-decoration: line-through;
}

.itemHolder .loaderHolder {
    width: calc(100% - 60px);
}

.item.serverItem {
    position: relative;
    height: 120px;
    padding: 0;
    overflow: hidden;
}

.item.serverItem img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.6);
    object-fit: cover;
    transition: 0.5s filter;
}

.item.serverItem div {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    color: white;
    font-size: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.item.serverItem:hover img {
    filter: brightness(0.8);
}

.item.serverItem.newServer {
    width: calc(33.3% - 40px);
    height: calc(120px - 10px);
    background-color: transparent;
    border: 5px solid var(--secondaryBackgroundColour);
    border-style: dashed;
}

.item.serverItem.newServer a {
    display: block;
    width: 100%;
    height: 100%;
    color: var(--secondaryBackgroundColour);
    text-decoration: none;
    transition: 0.5s color;
}

.item.serverItem.newServer a:hover {
    color: var(--lightMainText);
}

.item.serverItem.newServer i {
    display: block;
    width: 100%;
    height: 30%;
    padding-top: 20px;
    font-size: 50px;
    text-align: center;
}

.item.serverItem.newServer span {
    display: block;
    width: 100%;
    height: 30%;
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
}

.sidebarArt {
    position: fixed;
    top: 0;
    right: 0;
    width: 25vw;
    height: 100vh;
}

.sidebarArt.tiles {
    background-image: url("../media/TilesArt.svg");
    background-repeat: repeat-y;
}

.questionBlock {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    transition: 0.25s opacity;
    transition: 1s filter;
}

.questionBlock:hover {
    opacity: 1;
    filter: brightness(1.2);
}

.channelList {
    position: absolute;
    top: 70px;
    left: 0;
    width: 210px;
    height: calc(100vh - 110px);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.075);
    overflow: auto;
}

.channelList .channelHeader {
    padding: 5px;
    color: #aeaeae;
    text-transform: uppercase;
}

.channelList .channelContainer {
    margin-bottom: 10px;
}

.channelList .channelButton {
    display: block;
    margin-bottom: 5px;
    padding: 5px;
    color: var(--lightMainText);
    border-radius: 5px;
    text-decoration: none;
    transition: 1s background-color;
}

.channelList .channelButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.channelList .channelButton.selected {
    background-color: var(--primaryColour);
    color: var(--lightAccentText);
}

.chatContainer {
    position: absolute;
    top: 70px;
    left: 250px;
    width: calc(100vw - 270px);
    height: calc(100vh - 160px);
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.chatMessage {
    width: calc(100vw - 292px);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.chatMessage:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.chatMessage > a {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    color: var(--lightMainText);
    text-align: right;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chatMessage > div {
    display: inline-block;
    width: calc(100% - 250px);
    vertical-align: top;
    overflow-wrap: break-word;
}

.chatMessage > div > p {
    margin: 0;
}

.chatMessage > .messageDate {
    float: right;
    width: 130px;
    color: #aeaeae;
    text-align: right;
}

.chatBoxContainer {
    position: absolute;
    top: calc(100vh - 70px);
    left: 250px;
    width: calc(100vw - 270px);
    height: 50px;
    padding: 10px;
}

#chatExit {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: var(--lightMainText);
}

#chatExit i {
    font-size: 24px!important;
}

#chatLoader {
    position: fixed;
    top: 40vh;
    width: 100%;
}

#chatLoaderEncouragement {
    display: none;
    color: var(--secondaryBackgroundColour);
    font-size: 20px;
}

#viewServerThumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    object-fit: cover;
    filter: brightness(0.6);
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: -1;
}

#serverHeaderThumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
    z-index: -1;
}

#chatBox {
    width: calc(100% - 120px);
    height: 20px;
    vertical-align: middle;
}

#chatButton {
    width: 75px;
}

@media (max-width: 600px) {
    nav {
        width: calc(100vw - 10px);
        height: 60px;
        white-space: nowrap;
    }
    
    nav a {
        margin-top: unset;
        margin-bottom: unset;
        margin-left: 2.5px;
        margin-right: 2.5px;
    }

    body.reserveWebAppSpace header {
        padding-right: 10px;
    }
    
    body.reserveWebAppSpace .headerRight {
        margin-right: 0;
    }

    iframe.mainView {
        top: 70px;
        left: 0;
        width: 100vw;
        height: calc(100vh - 70px);
    }

    input.search {
        width: calc(100% - 140px);
    }

    .restrictWidth {
        width: 100%;
    }

    label.property input {
        width: calc(100% - 20px);
        margin: 0;
    }

    label.property select {
        width: calc(100% - 20px + 20px);
        margin: 0;
    }

    label.property textarea {
        width: calc(100% - 20px);
        margin: 0;
    }

    label.property .propertyInfo {
        width: 100%;
        margin-top: 5px;
        margin-left: unset;
    }

    .propertyWidth {
        width: unset;
    }

    .itemHolder .loaderHolder {
        width: 100%;
    }

    .item.serverItem {
        width: calc(100% - 10px);
    }

    .item.serverItem.newServer {
        width: calc(100% - 20px);
    }

    .sidebarArt {
        display: none;
    }

    .questionBlock {
        display: none;
    }

    .channelList {
        display: none;
        width: calc(100vw - 40px);
        z-index: 1;
    }

    .chatContainer, .chatBoxContainer {
        left: 0;
        width: calc(100vw - 20px);
    }

    .chatMessage {
        width: calc(100vw - 40px);
    }

    .chatMessage > a {
        width: 40%;
        text-align: left;
    }

    .chatMessage > .messageDate {
        width: 40%;
    }

    .chatMessage > div {
        display: block;
        width: 100%;
    }
}

@media (display-mode: standalone) {
    #chatExit {
        display: none;
    }
}